@charset "utf-8";
/* Solid-button by Shanks | http://imshanks.com */
#solid-button a{text-decoration:none;}
.btn{display:inline-block;text-decoration:none;font-size:14px;font-weight:bold;color:#fff;color:rgba(255,255,255,1);padding:0.5em 1em;margin:0.5em;}
.solid{border-style:solid;border-width:1px; border-radius:4px;box-shadow:0 1px 1px rgba(255,255,255,0.5) inset;}
.solid:hover{box-shadow:0 1px 1px rgba(255,255,255,0.5) inset,0 0 2px rgba(0,0,0,0.2);opacity: 0.9;}
.solid:active{box-shadow:0px 0px 6px 0px rgba(0,0,0,0.4) inset;opacity: 1;color:rgba(255,255,255,0.5);}
.red{background:#da4d42;background:rgba(218,77,66,1);border-color:#a44f36;border-color:rgba(164,79,54,1);}
.blue{background:#4297da;background:rgba(66,151,218,1);border-color:#3663a4;border-color:rgba(54,99,164,1);}
.green{background:#59C125;background:rgba(89,193,37,1);border-color:#7FA801;border-color:rgba(127,168,1,1);}
.orange{background:#FD8A0D;background:rgba(253,138,13,1);border-color:#FF4500;border-color:rgba(255,69,0,1);}
.grey{background:#f2f2f2;background:rgba(0,0,0,0.05);border-color:#eee;border-color:rgba(0,0,0,0.1);color:#999;color:rgba(0,0,0,0.5);}
.grey:active{box-shadow:0px 0px 6px 0px rgba(0,0,0,0.1) inset;opacity: 1;color:rgba(0,0,0,0.2);}
